<!-- Footer Component - BearShield -->
<footer class="w-100 bg-secondary flex" aria-label="Pied de page du site" role="contentinfo">
    <div class="p-4 flex justify-center flex-col" aria-label="Liens d'information">
        <a href="#" class="footer-link">A propos de nous</a>
        <a href="#" class="footer-link">FAQ</a>
        <a href="#" class="footer-link">Politique de confidentialité</a>
        <a href="#" class="footer-link">Conditions d'utilisation</a>
        <a href="#" class="footer-link">Mentions légales</a>
        <a href="#" class="footer-link">Nous rejoindre</a>
    </div>
    <div class="p-4 flex justify-center" aria-label="Liens réseaux sociaux">
        <a href="#" class="social-link"><i class="white fa-brands fa-facebook fa-2x p-2"></i></a>
        <a href="#" class="social-link"><i class="fa-brands fa-instagram fa-2x p-2"></i></a>
        <a href="#" class="social-link"><i class="fa-solid fa-share-nodes fa-2x p-2"></i></a>
    </div>
</footer>