.img-produit {
    width: auto;
    max-width: 500px;
    height: auto;
}

#product-image {
    position: revert;
    transform: none;
}



@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}